* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.cf::after {
    content: "";
    display: table;
    clear: both;
}

.rem-1 {
    font-size: 1rem;
}

.s {
    margin: 0 auto;
    width: 65%;
}

.x {
    margin: 0 auto;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ib {
    display: inline-block;
}

.bl {
    display: block;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-top: 60px;
}

.mt-120{
    margin-top: 120px;
}

.mr-10 {
    margin-right: 10px;
}

.va-t{
    vertical-align: top;
}

.wd-20  {
    width: 20%;
}

.wd-10  {
    width: 10%;
}

.pb-60 {
    padding-bottom: 60px;
}

.p-40 {
    padding: 40px;
}

.none {
    text-decoration: none;
}

/* nav bar */

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
    z-index: 999;
}

nav ul li,
#logo {
    display: inline-block;
    margin: 0 20px 0 0px;
    line-height: 5rem;
}

nav ul li a {
    color: black;
    text-decoration: none;  
}

.btn-blue {
    width: 50%;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    background-color: #0061ff;
    text-align: center;
}

#logo {
    vertical-align: -5%;
    padding-left: 10px;
}

/* jumbotron */

.jumbo {
    padding: 170px 120px;
    height: 850px;
    background-color: #b4d0e7;
}

.jumbo h1 {
    font-size: 96px;
}

.jumbo p {
    text-align: left;
    font-size: 19px;
}

.sez-sx {
    width: 30%;
    max-height: 300px;
}

.sez-dx {
    width: 60%;
}

#jumbo-img {
    width: 80%;
} 

#down-arrow {
    color: black;
    font-size: 40px;
}

/* main */

/* sezione card tariffe */

.container section h2 {
    font-size: 40px;
}

.circle-b {
    width: 15px;
    height: 15px;
    border: 3px solid #0061ff;
    border-radius: 40px;
    margin-right: 3px;
}

.circle-o {
    width: 15px;
    height: 15px;
    border: 1px solid lightgrey;
    border-radius: 40px;
    margin-right: 3px;
}

.reset {
    font-size: 0px;
}

/* card */

.card {
    font-size: 1.5rem;
    margin: auto 10px; 
    width: calc( (100% - 60px ) / 3 );
}

.card .mono,
.card-big .mono{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

.card-big {
    border: 1px solid lightgray;
    font-size: 1.5rem;
    margin: 20px 10px; 
    width: calc( 100% - 20px);
}

.container div.card.ib.left {
    border: 1px solid lightgray;
}

.card .content {
    height: 1000px;
}


.card-big .content {
    height: 200px;
}

.card .content .fix-1 {
    width: calc( (100% + 220px ) / 2);
}

.l-grey {
    color: lightgray;
}

.price {
    font-size: 1.3rem;
    font-weight: 800;
}

.month {
    font-size: .8rem;
}

.text {
    font-size: 12px;
}

.ent-rem {
    font-size: 1rem;
}

.ent-cont-l {
    width: 60%;
}

.ent-cont-r {
    width: 30%;
}

.container .card .content ul {
    list-style: none;
    font-size: 1rem;
}

.blue {
    color: #0061ff;
}

.grey {
    color: lightgray;
}

#trial {
    width: 100%;
    text-align: center;
}

.container div.ib.fix-1 {
    margin-bottom: 20px;
}

/* sezione partner */

#partner-img {
    margin-left: 10px;
    width: 50%;
}

.cont-ri {
    width: calc( (100% - 40px ) /2 );
}

#border-btn {
    border: 1px solid black;
    color: black;
    padding: 5px 10px;
}

/* blocchi card  */

#underline {
    text-decoration: underline;
}

.blocco {
    width: calc((100% - 60px) / 3);
    height: 500px;
    margin-bottom: 30px;
    margin-left: 10px;
    text-align: center;
}

.blocco > p,
.blocco > h3 {
    text-align: left;
}

.blocco > img {
    width: 100%;
}

/* blocchi card aziende */

.box-l,
.box-r {
    background-color: grey;
    width: calc(100% - ((69.1vw * 2) / 2));
}

.content-box-l,
.content-box-r {
    height: 15vw;
    width: 15vw;
    background-color: rgba(139, 0, 139, 0.055);
    position: relative;
}

.box-mid {
    width: calc(100% - (241.3761vh / 2));
    padding: 70px;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9vw;
}

#design-mid {
    width: 30%;
}

#designer {
    background-color: #a2d39b;
    border: 10px solid rgba(255,255,255,0.5);
}

#asu {
    background-color:#62092b;   
}

#uof {
    background-color: #0093ce;
}

#topps {
    background-color: #ff1d1c;
}

#wbr {
    background-color: #d50020;
}

#hc {
    background-color: #b4d0e7;
}

#lp {
    background-color: #0d2481;
}

#cc {
    background-color: #ffd830;
}

#li-grey {
    background-color: #f0f0f0;
}

/* ++++++++++++++++++++++++++++++++ DEBUGGGGGGG ++++++++++++++++++++++++++++++++ */

/* nav {
    background-color: darkslategrey;
}
*/

/* .nav-left {
    width: 600px;
    background-color: tomato;
} 
*/

/* .nav-right {
    width: 600px;
    background-color: lightgreen;
}
*/

/* .sez-sx {
    background-color: #fff;
    width: 30%;
}

.sez-dx {
    float: right;
    background-color: #000;
    width: 60%;
}

#jumbo-img {
    width: 70%;
}  
*/
.container {
    height: 5000px;
    background-color: #777777;
} 

.s {
    background-color: lime;
}

/* .x {
    height: 2000px;
    background-color: darkblue;
}  */

