* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

.cf::after {
    content: "";
    display: table;
    clear: both;
}

.rem-1 {
    font-size: 1rem;
}

.s{
    margin: 0 auto;
    width: 65%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ib {
    display: inline-block;
}

.bl {
    display: block;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-120{
    margin-top: 120px;
}

.mr-10 {
    margin-right: 10px;
}

.va-t{
    vertical-align: top;
}

/* nav bar */

nav {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #fff;
}

nav ul li,
#logo {
    display: inline-block;
    margin: 0 20px 0 0px;
    line-height: 5rem;
}

nav ul li a {
    color: black;
    text-decoration: none;  
}

.btn-blue {
    width: 50%;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    background-color: #0061ff;
}

#logo {
    vertical-align: -5%;
    padding-left: 10px;
}

/* jumbotron */

.jumbo {
    padding: 170px 120px;
    height: 850px;
    background-color: #b4d0e7;
}

.jumbo h1 {
    font-size: 96px;
}

.jumbo p {
    text-align: left;
    font-size: 19px;
}

.sez-sx {
    width: 30%;
    max-height: 300px;
}

.sez-dx {
    width: 60%;
}

#jumbo-img {
    width: 80%;
} 

#down-arrow {
    color: black;
    font-size: 40px;
}

/* main */

.container {
}

/* sezione card tariffe */

.container section h2 {
    font-size: 40px;
}

.circle-b {
    width: 15px;
    height: 15px;
    border: 3px solid #0061ff;
    border-radius: 40px;
    margin-right: 3px;
}

.circle-o {
    width: 15px;
    height: 15px;
    border: 1px solid lightgrey;
    border-radius: 40px;
    margin-right: 3px;
}

.reset {
    font-size: 0px;
}

/* card */

.card {
    background-color: forestgreen;
    height: 4000px;
    font-size: 1.5rem;
    margin: auto 10px; 
    width: calc( (100% - 60px ) / 3 );
}

.card .mono{
    border-bottom: 1px solid lightgray;
    padding: 10px;
    text-align: center;
}

.card .content {
    padding: 40px 40px;
}

.card .content .fix-1 {
    width: calc( (100% + 220px ) / 2);
}

.l-grey {
    color: lightgray;
}

.price {
    font-size: 1.3rem;
    font-weight: 800;
}

.month {
    font-size: .8rem;
}

.text {
    font-size: 12px;
}

.container .card .content ul {
    list-style: none;
    font-size: 1rem;
}


/* ++++++++++++++++++++++++++++++++ DEBUGGGGGGG ++++++++++++++++++++++++++++++++ */

/* nav {
    background-color: darkslategrey;
}
*/

/* .nav-left {
    width: 600px;
    background-color: tomato;
} 
*/

/* .nav-right {
    width: 600px;
    background-color: lightgreen;
}
*/

/* .sez-sx {
    background-color: #fff;
    width: 30%;
}

.sez-dx {
    float: right;
    background-color: #000;
    width: 60%;
}

#jumbo-img {
    width: 70%;
}  

/* .container {
    height: 5000px;
    background-color: #77777700;
}

.container .s {
    background-color:tomato;
}
*/